
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
@model Product_Category_ViewModel

<h2>Product List</h2>
<div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Stock</td>
                <td>@p.Price</td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="text-center my-3">
    @*<partial name="_ProductNamesPartialView" model="@Model.Products" />*@
    @*@await Component.InvokeAsync("Products")*@
    <vc:Products></vc:Products>
</div>
@*@section nav{
    <h2>Kategoriler</h2>
    <ul class="list-unstyled list-group">
    @foreach (var item in Model.Categories)
    {
        <li class="list-group-item">@item.Name</li>
    }
    </ul>
}*@
@section nav{
    <vc:category></vc:category>
}

