@model UsersInOrOutRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <form asp-action="Edit" asp-controller="Role" method="post">
        <h5 class="bg-primary text-white">@Model.Role.Name rolünde bulunan kullanıcılar</h5>
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if (Model.UsersInRole.Count() > 0)
            {
                @foreach (var user in Model.UsersInRole)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <input type="checkbox" name="UserIdsToDelete">
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">Role ait kullanıcı bulunmamaktadır.</td>
                </tr>
            }
            </tbody>
        </table>
        <br /><hr /><br />
    <h5 class="bg-primary text-white">@Model.Role.Name rolünde olmayan kullanıcılar</h5>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UsersOutRole.Count() > 0)
            {
                @foreach (var user in Model.UsersOutRole)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <input type="checkbox" name="UserIdsToAdd" >
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">Bütün kullanıcılar bu role atanmıştır.</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mt-2 text-center">
            <input class="btn btn-primary" type="submit" value="Save Edit" />
    </div>
    </form>
</div>

